
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <!--Detalle Producto-->
                        <div class="col-sm-9">

                            <div class="me-2">

                                <div class="d-flex justify-content-between">
                                    <h5 class="ms-2 mt-2">Detalle carrito</h5>
                                    <a class="btn btn-primary" href="@Url.Action("Index","Tienda")"> <i class="fas fa-cart-plus"></i> Seguir comprando</a>
                                </div>

                                <hr class="mt-2 mb-2" />

                                <div id="productos-carrito">

                                    <div class="card mb-2 card-producto">
                                        <!--Cuerpo de la carta-->
                                        <div class="card-body">

                                            <div class="row">
                                                <!--Columna 1: Imagen-->
                                                <div class="col-sm-2 align-self-center d-flex justify-content-center">
                                                    <img class="rounded" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" style="width:100px; height:100px" />
                                                </div>

                                                <!--Columna 2: Nombre de la marca y producto-->
                                                <div class="col-sm-4 align-self-center">
                                                    <span class="font-wight-bold d-block">Marca</span>
                                                    <span>Nombre Producto</span>
                                                </div>

                                                <!--Columna 3: Precio-->
                                                <div class="col-sm-2 align-self-center">
                                                    <span>Precio: S/.1500</span>
                                                </div>

                                                <!--Columna 4: Botones y cantidad de elementos-->
                                                <div class="col-sm-2 align-self-center">
                                                    <div class="d-flex">

                                                        <!--Boton menos-->
                                                        <button class="btn btn-outline-secondary btn-restar rounded-0">
                                                            <i class="fas fa-minus"></i>
                                                        </button>

                                                        <input class="form-control input-cantidad p-1 text-center rounded-0" disabled style="width:40px;" />

                                                        <!--Boton mas-->
                                                        <button class="btn btn btn-outline-secondary btn-sumar rounded-0">
                                                            <i class="fas fa-plus"></i>
                                                        </button>

                                                    </div>
                                                </div>

                                                <!--Columna 5: Boton de eliminar-->
                                                <div class="col-sm-2 align-self-center">
                                                    <button class="btn btn-outline-danger btn-eliminar"> <i class="far fa-trash-alt"></i> Eliminar</button>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <!--Total de todo-->
                                <div class="d-flex justify-content-end">
                                    <label class="align-self-center"><b>Total: S/. <span id="total">500</span></b> </label>
                                </div>

                            </div>
                        </div>

                        <!--Detalle Envioe-->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle Envio</h5>
                                    <form>
                                        <div class="mb-2">
                                            <label for="cbodepartamento" class="form-label">Departamento:</label>
                                            <select class="form-select form-select-sm" id="cbodepartamento"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cboprovincia" class="form-label">Provincia:</label>
                                            <select class="form-select form-select-sm" id="cboprovincia"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cbodistrito" class="form-label">Distrito:</label>
                                            <select class="form-select form-select-sm" id="cbodistrito"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtnombrecontacto" class="form-label">Nombre Contacto:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtnombrecontacto" autocomplete="off" />
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtdireccion" class="form-label">Direccion:</label>
                                            <input type="text" class="form-control form-control-sm" id="txtdireccion" autocomplete="off" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="txttelefono" class="form-label">Telefono:</label>
                                            <input type="text" class="form-control form-control-sm" id="txttelefono" autocomplete="off" />
                                        </div>

                                        <div class="d-grid">
                                            <button class="btn btn-success" type="button" onclick="RealizarPago()">
                                                <i class="fab fa-paypal"></i> Terminar y Procesar Pago
                                            </button>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    
    <script>

        $(document).ready(function () {

            jQuery.ajax({
                url: '@Url.Action("ListarProductosCarrito", "Tienda")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    $("#productos-carrito").html("");

                    $("#productos-carrito").LoadingOverlay("hide");

                    $.each(response.data, function (i, item) {

                        $("<div>").addClass("card mb-2 card-producto").append(
                             //Cuerpo de la carta
                            $("<div>").addClass("card-body").append(
                                $("<div>").addClass("row").append(

                                    //Columna 1: Imagen
                                    $("<div>").addClass("col-sm-2 align-self-center d-flex justify-content-center").append(
                                        $("<img>").addClass("rounded").attr({ "src": "data:image/" + item.oProducto.Extension + ";base64," + item.oProducto.Base64 })
                                            .css({"width":"100px", "height":"100px"})
                                    ),

                                    //Columna 2: Nombre de la marca y producto
                                    $("<div>").addClass("col-sm-4 align-self-center").append(
                                        $("<span>").addClass("font-wight-bold d-block").text(item.oProducto.oMarca.Descripcion),
                                        $("<span>").text(item.oProducto.Nombre)
                                    ),

                                    //Columna 3: Precio
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<span>").text(item.oProducto.Precio.toFixed(2) + " MXM")
                                    ),

                                    //Columna 4: Botones y cantidad de elementos
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<div>").addClass("d-flex").append(

                                            //Boton menos
                                            $("<button>").addClass("btn btn-outline-secondary btn-restar rounded-0").append(
                                                $("<i>").addClass("fas fa-minus")
                                            ),

                                            $("<input>").addClass("form-control input-cantidad p-1 text-center rounded-0").attr({ "disabled": "disabled" })
                                               .css({ "width": "40px" })
                                                .data("oProducto", item.oProducto)
                                                .val(item.Cantidad),

                                            //Boton mas
                                            $("<button>").addClass("btn btn btn-outline-secondary btn-sumar rounded-0").append(
                                                $("<i>").addClass("fas fa-plus")
                                            )

                                        )
                                    ),

                                    //5
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<button>").addClass("btn btn-outline-danger btn-eliminar").append(
                                            $("<i>").addClass("far fa-trash-alt"), " Eliminar"
                                        )
                                    )

                                )

                            )
                        ).appendTo("#productos-carrito")
                    })

                    sumarTotal();
                },
                error: function (error) {
                    $("#productos-carrito").LoadingOverlay("hide");
                },
                beforeSend: function () {
                    $("#productos-carrito").LoadingOverlay("show");
                }


            });

            ListarDepartamento();

        })
        //Llenado de Selector de Lista departamento
        function ListarDepartamento() {

            $("<option>").attr({ "value": "00", "disabled":"disabled", "selected":"true" }).text("Seleccionar").appendTo("#cbodepartamento")

             jQuery.ajax({
                url: '@Url.Action("ObtenerDepartamento", "Tienda")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                 success: function (data) {

                     if (data.lista != null) {
                         $.each(data.lista, function (i, item) {
                             $("<option>").attr({ "value": item.IdDepartamento }).text(item.Descripcion).appendTo("#cbodepartamento")
                         })

                         ListarProvincia();
                     }
                }

            });
        }

        //Cuando se efecua un cambio en el selector de departamento -> actualizar la lista de provincia
        $("#cbodepartamento").on("change", function () {
            ListarProvincia();
        })

        //Llenado de Selector de Lista Provincia
        function ListarProvincia() {

            $("#cboprovincia").html("")

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cboprovincia")

             jQuery.ajax({
                url: '@Url.Action("ObtenerProvincia", "Tienda")',
                 type: "POST",
                 data: JSON.stringify({ IdDepartamento: $("#cbodepartamento option:selected").val()}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                 success: function (data) {

                     if (data.lista != null) {
                         $.each(data.lista, function (i, item) {
                             $("<option>").attr({ "value": item.IdProvincia }).text(item.Descripcion).appendTo("#cboprovincia")
                         })
                         ListarDistrito();
                     }
                }

            });
        }


        //Cuando se efecua un cambio en el selector de provincia -> actualizar la lista de distritos
        $("#cboprovincia").on("change", function () {
            ListarDistrito();
        })


        //Llenado de Selector de Lista Distrito
        function ListarDistrito() {

            $("#cbodistrito").html("")

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbodistrito")

             jQuery.ajax({
                url: '@Url.Action("ObtenerDistrito", "Tienda")',
                 type: "POST",
                 data: JSON.stringify({
                     IdDepartamento: $("#cbodepartamento option:selected").val(),
                     IdProvincia: $("#cboprovincia option:selected").val()
                 }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                 success: function (data) {

                     if (data.lista != null) {
                         $.each(data.lista, function (i, item) {
                             $("<option>").attr({ "value": item.IdDistrito }).text(item.Descripcion).appendTo("#cbodistrito")
                         })
                     }
                }

            });
        }

        function sumarTotal() {
            var sumaTotal = parseFloat(0)

            $("input.input-cantidad").each(function (i) {
                var precio = $(this).data("oProducto").Precio;
                var cantidad = parseFloat($(this).val());


                var subtotal = precio * cantidad;

                sumaTotal += subtotal;
            })

            $("#total").text(sumaTotal.toFixed(2));
            $("#total").data("sumatotal", sumaTotal);
        }


        $(document).on("click", ".btn-sumar", function () {
            var div_contenedor = $(this).parent("div.d-flex");

            //Del div que obtuvimos queremos buscar un <input> con la clase "input-cantidad"
            var input_cantidad = $(div_contenedor).find("input.input-cantidad")

            var btn = $(this);

            //La etiqueta de input tiene una data llamada "oProducto"
            var idproducto = $(input_cantidad).data("oProducto").IdProducto;


            jQuery.ajax({
                 url: '@Url.Action("OperacionCarrito", "Tienda")',
                 type: "POST",
                data: JSON.stringify({
                     idproducto: idproducto,
                     sumar: true
                 }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(btn).LoadingOverlay("hide");

                    if (data.respuesta) {

                        var cantidad = parseInt($(input_cantidad).val()) + 1;
                        $(input_cantidad).val(cantidad);
                        sumarTotal();
                    } else {
                        swal("", data.mensaje, "warning")
                    }
                },
                beforeSend: function () {
                    $(btn).LoadingOverlay("show")
                },
                error: function (error) {
                    $(btn).LoadingOverlay("hide");
                }
            });
        })

        $(document).on("click", ".btn-restar", function () {
            var div_contenedor = $(this).parent("div.d-flex");

            //Del div que obtuvimos queremos buscar un <input> con la clase "input-cantidad"
            var input_cantidad = $(div_contenedor).find("input.input-cantidad")

            var btn = $(this);

            //La etiqueta de input tiene una data llamada "oProducto"
            var idproducto = $(input_cantidad).data("oProducto").IdProducto;

            var cantidad = parseInt($(input_cantidad).val()) - 1;

            if (cantidad >= 1) {

                jQuery.ajax({
                    url: '@Url.Action("OperacionCarrito", "Tienda")',
                    type: "POST",
                    data: JSON.stringify({
                         idproducto: idproducto,
                         sumar: false
                    }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        $(btn).LoadingOverlay("hide");

                        if (data.respuesta) {

                            $(input_cantidad).val(cantidad);
                            sumarTotal();

                        } else {
                            swal("", data.mensaje, "warning")
                        }
                    },
                    beforeSend: function () {
                        $(btn).LoadingOverlay("show")
                    },
                    error: function (error) {
                        $(btn).LoadingOverlay("hide");
                    }
                });
            }



        })


    </script>    
}

